

// záhlaví
a {
    text-decoration: none;
}

h2 {
    font-family: $font-raleway;
    font-size: 2.25rem;
}

// Kontejner
.container {
    @include center-container(1352px);
}

// Záhlaví
.page-header .container {
    height: auto;
    @include flex-center(space-between);
    @include box-shadow;
    max-width: 100%;
    border-radius: 10px;
    padding: 1rem;
}

.logo {
    color: $color-primary;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

// Navigace
.page-nav-list {
    @include flex-center(flex-start);
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin-left: 20px;
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-grey;
        font-weight: bold;
        font-family: $font-open-sans;

        &:hover {
            color: $color-black;
            text-decoration: underline $color-primary 5px;
        }
    }
}

@include tablet{
    
}