@mixin tablet {
    @media (min-width: 768px) and (max-width: 1023px) { // Šířky pro tablety
      .container {
        display: flex;
        flex-direction: column; // Položky pod sebou
      }
  
      .page-nav-list {
        flex-direction: column; // Položky menu pod sebou
        align-items: flex-start; // Zarovnání k levému okraji
        gap: 10px; // Mezera mezi položkami
      }
  
      .page-nav-list li {
        margin: 0; // Odstranění marginu pro mezery
      }
  
      @content; // Umožňuje doplňující obsah
    }
  }
  
  @mixin pc {
    @media (min-width: 1024px) { // Šířky pro PC
      .container {
        display: flex;
        flex-direction: row; // Položky vedle sebe
        justify-content: space-between; // Prostor mezi položkami
        align-items: center; // Vertikální zarovnání na střed
      }
  
      .page-nav-list {
        flex-direction: row; // Položky menu vedle sebe
        gap: 20px; // Mezera mezi položkami
      }
  
      .page-nav-list li {
        margin: 0; // Pro zajištění konzistentního mezery
      }
  
      body {
        max-width: 1626px; // Maximální šířka stránky
        margin: 0 auto; // Centrované zarovnání
      }
  
      @content; // Umožňuje doplňující obsah
    }
  }