@mixin center-container($max-width) {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 1rem;
    @content;
    /* Umožňuje vložení doplňujícího obsahu při použití mixinu */

}

@mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;

    @content;
    /* Umožňuje vložení doplňujícího obsahu při použití mixinu */
}

@mixin box-shadow($color: rgba(0, 0, 0, 0.2)) {
    box-shadow: 0 4px 8px $color;

    @content;
    /* Umožňuje vložení doplňujícího obsahu při použití mixinu */
}

